#page-search-results{
  width: 90%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-search-results header {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-search-results header a {
  color: var(--title-color);
  font-weight: bold;

  display: flex;
  align-items: center;
}

#page-search-results header a span {
  margin-right: 16px;
  background-image: url('../assests/arrow-left.svg');

  display: flex;

  width: 20px;
  height: 20px;

  margin-right: 16px;
}

main{
  margin-top: 48px;
}
main h3{
  margin: 48px 0;
}

main h4{
  font-weight: normal;
  font-family: Roboto, 'sans-serif';

  margin-bottom: 32px;
}

main .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  
}

main img{
  width: 100%;
  height: auto;

  border-radius: 8px 8px 0 0;

  object-fit: cover;
}

main .card h1{
  margin-top: 32px;
  font-size: 36px;
  line-height: 42px;

  color: #322153;
}

main .card h3{
  margin: 24px 0;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  color: #34c879;
}

main .card {
  border: 1px solid #e9e6e6;
  border-radius: 8px 8px 0 0;
  align-items: center;
}

body::after{
  content: "";
  background-color: #fff;
  top: 335px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}